%h1.title New post

.form
  = form_for Post.new do |f|
    .field
      .label= f.label :routes
      = f.select :routes,
        @routes.map{|r| [r.number_and_name, r.id]},
        {include_blank: 'Not route-specific'},
        {multiple: true, size: 10}
    .field
      .label= f.label :text
      = f.text_area :text, placeholder: 'up to 1000 characters',
        cols: 40, rows: 10
    .field
      .label= f.label :short_text
      = f.text_area :text, placeholder: 'up to 140 characters',
        maxlength: 140, cols: 40, rows: 3
    .field
      .label= f.label :start_datetime, 'Starting'
      = f.text_field :start_datetime, class: 'datetimepicker',
        size: 50
    .field
      .label= f.label :end_datetime, 'Ending'
      = f.text_field :end_datetime, class: 'datetimepicker',
        size: 50
    .actions
      = f.submit 'Create post'

